.task-edit-container {
    margin-top: 25px;
}

.input-container{
    display: flex;
    margin: 5px 0 20px 0;
    align-items: center;
    justify-content: center;
    
}

.input-task{
    width: auto;
    max-width: 250px;
    margin: 7px 0 0 32px;
    color: white;
    font-weight: 600;
    font-size: 24px;
    outline: none;
    border: 0;
    background-color: transparent;
    text-align: center;
    background-color: #233c51;
    border-radius: 7px;
    padding: 5px;

}
.input-task::placeholder{
   color: white;
   opacity: 20%;
   font-weight: 500;

}

.button-task-container{
    width:  22px;
    height: 22px;
    margin-left: 10px;
    background-color: var(--main-red);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100px;
    cursor: pointer;
}