.control-button-container{
    width: 55px;
    height: 55px;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--dark-red);
    cursor: pointer;
    
}