
.header-grid{
    width: 40%;
    height: 50px;
    display: grid;
    grid-template-columns: 20% 55% 25%;
    margin: 0 auto;
    
}

.logo-container{
    grid-column: 1;
    cursor: pointer;
    
}

.logo{
    background-image: url('../img/logo.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    height: 100%;
}
.settings-container{
    width: 100%;
    grid-column: 3;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    
}

.button-settings-container{
    width: 80%;
    min-width: 110px;
    height: 80%;
    border-radius: 7px;
    background-color: rgba(103, 103, 103, .6);
    display: flex;
    cursor: pointer;
    justify-content: center;
    align-items: center;
}

.button-settings-container span{
    font-weight: 600;
    margin-left: 5px;
}
